
.cart-detail {
  max-width: 95%;
  margin: auto;
  display: grid;
  text-align: center;
  align-content: center;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: .7rem;
}
.inner-payment-cart {
    display: grid;
    grid-template-columns: .5fr .5fr 1.5fr;
    grid-template-rows: .5fr .3fr;
    grid-column-gap: 0.5rem;
    align-items: center;
    align-content: center;
  }

.cart-detail p {
  padding: 0;
  margin: 0;
  color: black;
}
.product-quantity p {
  font-size: 0.9rem;
}
.product-quantity h4 {
  font-size: 0.9rem;
}
.product-amount h4 {
  font-size: 0.9rem;
}
.product-amount p {
  font-size: 0.9rem;
}
.product-calories p {
  font-size: 0.9rem;
}
.product-calories p:last-of-type {
  color: gray;
}
.product-quantity p:last-of-type {
  color: gray;
}
.product-amount p:last-of-type {
  color: gray;
}
//.product-quantity p {
//  font-size: 0.9rem;
//}
.img-name h4{
  font-size: 0.9rem;
  text-align: center;
}
.product-icons .fas {
  color:$color__primary;
  //padding: 0.5rem;
  padding: 0.3rem !important;
  font-size: 0.9rem;
}
.product-icons {
  padding-top: 0.8rem;
  grid-column: 1/3;
  display: flex;
  //flex-direction: column;
  text-align: center;
}
.product-quantity {
  text-align: center;
}
.card-body {
  padding-top: 1rem;
}

.product-price {
  padding-top: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.product-price p{
  color: black;
}
.product-price h4 {
  padding-left: 0.7rem;
  padding-right: 1rem;
}

.card-header {
  text-align: center;
  padding: 1rem;
  color: $color__primary;
}

.order-payment-total {
  display: flex;
  justify-content: space-between;
}

.cart-item{
  background: white;
  border-bottom: 2px solid #eee;
  margin: 10px auto;
}

#orderHistory-screen{
  .cart-item{
    border-bottom: 0 solid #eee;
  }
}

.product-icons button {
  background-color: $color__bgsecondary;
  border:  none;
  box-shadow: 0 8px 6px -6px gray;
  -webkit-appearance: none;
  appearance: none;
  margin-right: 1rem;
  color: $color__primary;

}
.p15 {
  font-size: 0.8rem;
  color: $color__primary;
}