.ion-color-light {

}

.brand-logos.ion-color.ion-color-light {
  height: 150px;
  margin: auto auto 30px auto;
  width: 75%;
}

.menu-btn.ion-color.ion-color-light {
  height: 120px;
  margin: 20px;
  width: 35%;
  display: inline-block;
  position: relative;
}

.menu-btn-container {
  margin: 10px auto;
  padding: 10px;
  background: transparent;
  position: relative;
  width: fit-content;
  display: inline-block;
  border-radius: 10px;
  max-width: 150px;
}



.menu-btn-container img {
  max-width: 80px;
}

.menu-label {
  color: $color__primary;
  text-transform: capitalize;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: auto;
  text-align: center;
  font-size: 16px;
  white-space: pre-wrap;
  display: block;
}

button.button-native {
  border-radius: 20px;
}

.brand-logos {
  border-radius: 15px;
}

.menu-btn {
  border-radius: 15px;
  display: inline-block;
}

.defult-btn {
  border-radius: 15px;
  text-align: center;
  box-sizing: border-box;
  border: 0 solid #e6e6e6;
  margin: 10px auto;
  width: 150px;
  height: 150px;

  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15), 0 2px 5px rgba(0, 0, 0, 0.15), 0 4px 5px rgba(0, 0, 0, 0.15), 0 8px 5px rgba(0, 0, 0, 0.15);

  display: flex;
  align-items: center;
}

.menu-item-btn.defult-btn{
  width: 150px;
  height: 220px;

  label:nth-of-type(2){
    color: $color__dark;
  }

}

.screen-content {
  width: 100%;
  margin: auto;
}

.hamburger-menu {
  color: $color__primary;
}

.app-nav {
  &.active-menu {
  }
  .menu {
    .hamburger-menu {
      color: $color__white;
    }

    .title-icon {
      width: 40%;
      margin: 20px auto;
    }


  }

}

.back-button {
  padding: 15px;
  color: $color__primary;
}

.home-button {
  padding: 15px;
  color: $color__primary;
}

.dnone {
  display: none;
}

#home-screen {
  .hamburger-menu {
    display: block;
  }

  .back-button {
    display: none;
  }

  .home-button {
    display: none;
  }
}

#menu-item-screen, #menu-screen {
  .hamburger-menu {
    display: none;
  }

  .back-button {
    display: block;
  }

  .home-button {
    display: none;
  }
}

#faq-screen, #feedback-screen, #editInfo-screen , #privacyPolicys-screen, #cafeLocations-screen {
  .hamburger-menu {
    display: block;
  }

  .back-button {
    display: none;
  }

  .home-button {
    display: block;
  }
}

.img-wrapper {
  img {
    display: block;
    margin: auto;
  }
}


.form-button {
  text-align: center;
}

.form-button button{
  background-color: $color__primary;
}