.page{

  .content.screen-content{

  }

}

.button.brand-logos{
  width: fit-content;
  display: block;
  margin: 25px auto;
  padding: 15px;
  border: 0 solid #e6e6e6;
  background: #fffdfd;

  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15), 0 2px 5px rgba(0, 0, 0, 0.15), 0 4px 5px rgba(0, 0, 0, 0.15), 0 8px 5px rgba(0, 0, 0, 0.15);

  .brand-container{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: fit-content;

    img{
      width: 250px;
      height: auto;
      padding: 10px;
    }

  }

}