#footer-container{
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 60px;
  left:0;
  background-color: $color__bgsecondary;
  z-index: 999;
  color: $color__primary;

  i{
    color: $color__primary;
  }
  .menu-button{
    padding: 20px;
  }

}

#faq-screen{
  .menu{

    .panel-heading a{
      background-color: #4caf50;
      display: block;
    }
    .panel-body::before {
      color: red;
    }
    .panel-default>.panel-heading {
      color: red;
    }

  }
}

#faq-screen{
  .panel-group {
    text-align: center;

    .panel-heading {
      background-color: $color__primary;
    }
    .panel-title a {
      color: white;
    }
    .panel-heading{
      border: 1px solid white;
    }
    .panel-body {
      font-weight: bold;
    }
    .panel-heading:hover {
      background-color: $color__secondary;
    }
  }
}

.app-nav{
  width: 100%;
  display: block;
  overflow-x: hidden;

  &.active-menu{
    .menu{
      left: 0;
      height: fit-content;
    }

  }

  .menu{
    width: 350px;
    position: absolute;
    z-index: 1000;
    left: -350px;
    padding: 15px;
    box-sizing: border-box;
    top:0;
    bottom: 0;
    min-height: 100vh;
    background-color: $color__primary;
    color: white;
    transition:left 1s linear ;

  }

  .page{
    display: flex;
    flex: 0 0 100%;
    flex-flow: row wrap;

    .hamburger-menu{
      padding:15px;
    }

  }

  .header-div{
    display: flex;
    height: 60px;
    width: 100%;
    flex: 0 0 100%;
    background-color: $color__bgsecondary;


    .toolbar{
      flex-grow: 1;
      max-height: 60px;
      display: flex;

      .buttons{
        flex-shrink: 1;
        align-content: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
        display: flex;
      }

      .title{
        display: flex;
        flex-grow: 1;
        max-height: 60px;
        align-content: center;
        justify-content: center;
        align-items: center;
        justify-items: center;

        .logo-container{
          padding: 3px;
          box-sizing: border-box;
          margin-left: -30px;

          img{
            width: auto;
            height: 56px;
          }

        }

      }

    }

  }

}

.ceats-success{
  background-color: $color__lgrey;
  color: $color__secondary;
}