$color__primary: #f15a24;
$color__secondary: #009245;
$color__bgprimary: #ffffff;
$color__bgsecondary: #FFF9EC;
$color__white: #fff;
$color__dark: #c0491e;



.cPrimary{
  color: $color__primary;
}

.cSecondary{
  color: $color__secondary;
}

